html, body  {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0 auto;
  font-size: 16px
}

@font-face {
    font-family: DA;
    src: url(fonts/damnarc.woff);
}

h2  {
  font-family: DA;
  color: #fff;
  font-size: 2rem;
  margin: 0;
  padding-bottom: .5rem;
}

p  {
  font-family: Source Sans Pro, sans-serif;
  color: #fff;
  font-size: .9rem;
  margin: 0;
  /* padding-bottom: 1rem; */
  /* flex-grow: 1; */
  /* font-weight: 300; */
}

.bg  {
  background-image: url('img/bg.jpeg');
  background-position: center center;
  background-size: cover;
  background-repeat : no-repeat;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: fixed;
  z-index: -1;
}

.bg:after {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  background: #000000;
  opacity: .45;
}

.name {
  position: fixed;
  z-index: 999;
  top: 2rem;
  left: 2rem;
  background-image: url('img/name.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  height: 300px;
  width: 300px;
}

.intro-wrapper  {
  position: fixed;
  z-index: 1000;
  bottom: 0;
  left: 2rem;
  width: 300px;
  height: auto;
  background: #fff;
}

.intro  {
  display: flex;
  flex-direction: column;
  padding: 3rem 2rem;
  margin: 0 auto;
  text-align: left;
}

.intro  h2, .intro  p {
  color: #212121;
  line-height: 1.25rem;
}

.intro  h2  {
  padding-bottom: 1rem;
}

.intro a:hover  {
  opacity: .5;
}

.content-wrapper  {
  width: 100%;
  padding: 0 0 0 370px;
  /* max-width: 1200px; */
  margin: 0 auto;
  box-sizing: border-box;
}

.content  {
  margin: 0 auto;
  /* padding: 2rem 0; */
  background: #fff;
  min-height: 100vh;
  box-sizing: border-box;
}

.intro  {

}

.skillz-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skillz-item  {
  /* width: 32%; */
  margin: 0;
  /* padding: 2rem; */
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: auto;
  width: 50%;
}

.skillz-item-wrapper {
  /* background: #a7c7b6; */
  width: 100%;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all .2s ease-in-out;
}

.skillz-item-wrapper img  {
  padding: 2rem;
  max-width: 50%;
  max-height: 75px;
  height: auto;
  margin: 0 auto;
  text-align: center;
  opacity: 1;
  transition: all .2s ease-in-out;
}

.skillz-item-content {
  position: absolute;
  width: 100%;
  padding: .25rem 2rem;
  box-sizing: border-box;
  height: 100%;
  top: 50%;
  left: 0;
  transform: translate(0,-50%);
  opacity: 0;
  transition: all .2s ease-in-out;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skillz-item:hover > .skillz-item-wrapper img {
  opacity: 0;
  /* transform: rotateY(180deg); */
}

.skillz-item-wrapper:hover > .skillz-item-content {
  opacity: 1;
  /* transform: rotateX(0deg); */
}

@media (max-width: 1100px) {

  h2  {
    font-family: DA;
    color: #fff;
    font-size: 3.5rem;
    margin: 0;
    padding-bottom: .5rem;
  }

  p  {
    font-family: Source Sans Pro, sans-serif;
    color: #fff;
    font-size: 2rem;
    margin: 0;
    /* padding-bottom: 1rem; */
    /* flex-grow: 1; */
    /* font-weight: 300; */
  }

  .bg  {
    background-image: url('img/bg.jpeg');
    background-position: center center;
    background-size: cover;
    background-repeat : no-repeat;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: fixed;
    z-index: -1;
  }

  .bg:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    background: #000000;
    opacity: .45;
  }

  .name {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    background-image: url('img/name.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    width: 100%;
  }

  .intro-wrapper  {
    position: absolute;
    z-index: 1000;
    top: 12rem;
    right: 0;
    left: auto;
    bottom: auto;
    width: 80%;
    height: auto;
    padding: 2rem;
    box-sizing: border-box;
    background: #fff;
    z-index: 10;
  }

  .intro  {
    display: flex;
    flex-direction: row;
    padding: 3rem 2rem;
    margin: 0 auto;
    text-align: left;
    flex-direction: column;
  }

  .intro  h2, .intro  p {
    color: #212121;
    line-height: 3.5rem;
    font-size: 2.75rem;
  }

  .intro  h2  {
    font-size: 5rem;
    padding-bottom: 1rem;
  }

  .intro a:hover  {
    opacity: .5;
  }

  .content-wrapper  {
    width: 100%;
    padding: 0;
    /* max-width: 1200px; */
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 105%;
    position: relative;
    z-index: 999;
  }

  .content  {
    margin: 0 auto;
    /* padding: 2rem 0; */
    background: #fff;
    min-height: 100vh;
    box-sizing: border-box;
  }

  .skillz-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .skillz-item  {
    width: 100%;
  }

  .skillz-item-wrapper {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .skillz-item-wrapper img  {
    padding: 0;
    padding-top: 4rem;
    max-width: none;
    max-height: none;
    height: 130px;
  }

  .skillz-item-content {
    position: relative;
    box-sizing: border-box;
    width: 80%;
    opacity: 1;
    padding: 2rem;
    padding-bottom: 4rem;
    transform: none;
    text-align: center;
  }

  .skillz-item-content h2 {
    font-size: 3rem;
    padding: 0;
    margin: 0;
    padding-top: 0;
  }

  .skillz-item-content  p {
    font-size: 1.75rem;
    line-height: 2.5rem;
  }

  .skillz-item:hover > .skillz-item-wrapper img {
    opacity: 1;
    /* transform: rotateY(180deg); */
  }

  .skillz-item-wrapper:hover > .skillz-item-content {
    opacity: 1;
    /* transform: rotateX(0deg); */
  }
}
